<crud-layout title="Standorte" [createRoute]="'create'">
    <crud-card>
        <loading-state [loading]="sites.loading()">
            <ng-template>
                <data-table [data]="sites.data" [columns]="dataColumns">
                    <ng-template let-item>
                        <div class="flex justify-end">
                            <a
                                routerLink="{{ getEditRoute(item) }}"
                                class="rounded-full hover:bg-black/5 w-8 h-8 flex justify-center items-center text-primary-500"
                            >
                                <mat-icon>edit</mat-icon>
                            </a>
                            <text-button type="button" color="red" (click)="onDelete(item)">
                                <ng-template>
                                    <mat-icon>delete</mat-icon>
                                </ng-template>
                            </text-button>
                        </div>
                    </ng-template>
                </data-table>
                <empty-state *ngIf="sites.data?.length === 0">
                    <ng-template [icon]>
                        <mat-icon class="scale-[3] text-gray-400"> location_city </mat-icon>
                    </ng-template>
                    <ng-template [actions]>
                        <a
                            routerLink="create"
                            class="flex justify-center items-center text-green-500 hover:text-green-700 font-normal h-12"
                        >
                            Neuen Standort erstellen
                        </a>
                    </ng-template>
                </empty-state>
            </ng-template>
        </loading-state>
    </crud-card>
</crud-layout>