ktor {
    development = true
    deployment {
        url = "http://localhost"
        port = 8000
    }
    db {
        url = "jdbc:postgresql://localhost:5432/replace-app"
        user = "postgres"
        password = "postgres"
    }
    application {
        modules = [ replace.http.ApplicationModuleKt.applicationModule ]
    }
}
