<div class="py-4">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Buchen</h1>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <div class="p-5 rounded-lg border-4 border-dashed border-gray-200 md:flex md:flex-row">

            <!-- Select Fields -->
            <!-- div class="flex flex-col w-fit"-->
            <div class="flex flex-col md:w-3/10">

                <form [formGroup]="timeFormControl">
                    <mat-form-field class="w-full">
                        <mat-label>Anfang</mat-label>
                        <input matInput [ngxMatDatetimePicker]="startDateTimePicker"
                               [min]="minDate"
                               placeholder="Choose a date"
                               formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="$any(startDateTimePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #startDateTimePicker>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Ende</mat-label>
                        <input matInput [ngxMatDatetimePicker]="endDateTimePicker" placeholder="Choose a date"
                        formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="$any(endDateTimePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #endDateTimePicker>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </form>
                <!--div>
                    <mat-form-field class="w-3/5 pr-2">
                        <mat-label>Datum</mat-label>
                        <input matInput [matDatepicker]="StartDatePicker"
                               [matDatepickerFilter]="dateFilter"
                               [ngModel]="startDate"
                               (dateInput)="saveDate($event)"
                               (dateChange)="saveDate($event)"
                               [min]="earliestBookableDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="StartDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #StartDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-2/5">
                        <mat-label>Von</mat-label>
                        <input [ngModel]="startTime | date: 'HH:mm'" (input)="saveStartTime($event)" matInput type="time">
                        <mat-hint>HH:mm</mat-hint>
                    </mat-form-field>
                </div>
                <mat-slide-toggle (click)="toggleRange()">Über mehrere Tage buchen</mat-slide-toggle>
                <div>
                    <mat-form-field class="w-3/5 pr-2">
                        <mat-label>Datum</mat-label>
                        <input matInput [matDatepicker]="EndDatePicker"
                               [matDatepickerFilter]="dateFilter"
                               (dateInput)="saveDate($event)"
                               (dateChange)="saveDate($event)"
                               [disabled]="!toggle"
                               [min]="earliestBookableDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="EndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #EndDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-2/5">
                        <mat-label>Bis</mat-label>
                        <input [ngModel]="endTime | date: 'HH:mm'" matInput type="time">
                        <mat-hint>HH:mm</mat-hint>
                    </mat-form-field>
                </div-->
                <mat-form-field>
                    <mat-label>Standort</mat-label>
                    <mat-select
                        [(ngModel)]="selectedSite"
                        (selectionChange)="getFloors()">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let site of sites" [value]="site">
                            {{ site.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="selectedSite">
                    <mat-label>Stockwerk</mat-label>
                    <mat-select
                        [(ngModel)]="selectedFloor"
                        (selectionChange)="getBookableEntities()"
                        [disabled]="floors.length === 1">
                        <mat-option></mat-option>
                        <mat-option
                            *ngFor="let floor of floors"
                            [value]="floor">
                            {{ floor.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--
                    At this point the floor's image should be shown
                    The bookable entities should be marked clearly
                -->

                <!-- This block will be shown at the bottom for mobile -->
                <div class="hidden md:flex md:flex-col md:max-w-230">
                    <div *ngIf="selectedSite && selectedFloor">
                        <mat-checkbox
                            class="w-1/2"
                            *ngFor="let entity of bookableEntities"
                            (change)="updateSelectedEntities(entity, $event.checked)"
                            [disabled]="isBooked(entity.id)">
                            {{ entity.name }}
                        </mat-checkbox>
                    </div>


                    <button *ngIf="selectedSite && selectedFloor && selectedEntities.length > 0"
                        mat-raised-button color="primary"
                        (click)="sendBooking()"
                        class="mt-5">
                        Buchung versenden
                    </button>
                </div>


            </div>

            <div class="w-1/1 md:w-7/10">
                <img [src]="imgSrc" *ngIf="imgSrc && selectedSite"
                    class="block w-full h-auto">
            </div>

            <div class="visible flex flex-col md:hidden">
                <div *ngIf="selectedSite && selectedFloor">
                    <mat-checkbox
                        class="w-1/2"
                        *ngFor="let entity of bookableEntities"
                        (change)="updateSelectedEntities(entity, $event.checked)"
                        [disabled]="isBooked(entity.id)">
                        {{ entity.name }}
                    </mat-checkbox>
                </div>

                <button *ngIf="selectedSite && selectedFloor && selectedEntities.length > 0"
                    mat-raised-button color="primary"
                    (click)="sendBooking()"
                    class="mt-5">
                    Buchung versenden
                </button>
            </div>



        </div>
    </div>
</div>
