<div class="py-4">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Buchen</h1>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8 flex flex-col gap-4">
        <div class="grid grid-cols-[25%_25%_1fr] gap-4">
            <div class="p-2 rounded-md bg-gray-100 hover:bg-gray-200 cursor-pointer" (click)="isSelectingSite=true">
                <div *ngIf="selectedSite; else default" class="text-xl text-gray-700 flex">
                    {{ selectedSite.name ?? ' ' }}
                </div>
                <ng-template #default>
                    <div class="text-lg text-gray-300">
                        Wähle ein Gebäude
                    </div>
                </ng-template>
                <div class="text-xs text-gray-400 flex items-center">
                    <mat-icon class="!h-5 !w-5 text-[1.25rem] mr-1" [inline]="false">location_city</mat-icon> Gebäude
                </div>
            </div>
            <div class="p-2 rounded-md bg-gray-100 hover:bg-gray-200 cursor-pointer" (click)="isSelectingFloor=true">
                <div *ngIf="selectedFloor; else default" class="text-lg text-gray-700">
                    {{ selectedFloor.name ?? '' }}
                </div>
                <ng-template #default>
                    <div class="text-lg text-gray-300">
                        Wähle ein Stockwerk
                    </div>
                </ng-template>
                <div class="text-xs text-gray-400 flex items-center">
                    <mat-icon class="!h-5 !w-5 text-[1.25rem] mr-1" [inline]="false">account_tree</mat-icon> Stockwerk
                </div>
            </div>
            <time-selector [(interval)]="interval" [(isSelectingTime)]="isSelectingTime" class="place-self-end"></time-selector>
        </div>
        <div class="fixed">

        </div>
        <site-selector *ngIf="isSelectingSite" [sites]="sites" (siteSelected)="selectedSite  = $event"></site-selector>
        <floor-selector *ngIf="!isSelectingSite && isSelectingFloor" [floors]="selectableFloors" (floorSelected)="selectedFloor = $event"></floor-selector>
        <card *ngIf="!isSelectingSite && !isSelectingFloor && selectedSite !== undefined && selectedFloor !== undefined">
            <div class="flex">
                <div class="grow h-96 rounded-md bg-gray-100 p-1">
                    <entity-map [(entities)]="bookableEntities" [backgroundImage]="selectedFloor.planFile"></entity-map>
                </div>
                <div class="w-64 ml-5 h-96">
                    <bookings-list *ngIf="bookings.data" [bookings]="bookings.data" [interval]="interval"></bookings-list>
                </div>
            </div>
            <div class="mt-4 relative">
                <bookable-entities-list [(entities)]="bookableEntities"></bookable-entities-list>
                <div *ngIf="bookings.loading()" class="pointer-events-none absolute inset-0 bg-white/50"> </div>
            </div>
        </card>
        <div class="flex justify-end">
            <button [disabled]="disabled" mat-raised-button color="primary" (click)="onSubmit()">Buchen</button>
        </div>
    </div>
</div>
