<div class="bg-white rounded-sm flex flex-col items-stretch shadow-md border border-gray-300">
    <button class="grow border-b border-gray-300 hover:bg-gray-100 p-0.5 flex items-center justify-center" (click)="onZoomIn()">
        <mat-icon class="!text-[1.25rem] !w-5 !h-5">add</mat-icon>
    </button>
    <button class="grow hover:bg-gray-100 p-0.5 flex items-center justify-center" (click)="onZoomOut()">
        <mat-icon class="!text-[1.25rem] !w-5 !h-5">remove</mat-icon>
    </button>
</div>
