<crud-layout title="Meine Buchungen">
    <crud-card>
        <div class="overflow-scroll scroll">
            <loading-state [loading]="sites === undefined">
                <ng-template>
                    <data-table [data]="tableData" [columns]="dataColumns">
                        <ng-template let-item>
                            <div class="flex justify-end">
                                <button
                                    type="button"
                                    (click)="deleteBooking(item)"
                                    class="rounded-full hover:bg-black/5 w-8 h-8 flex justify-center items-center text-red-500"
                                >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </data-table>
                    <empty-state *ngIf="tableData?.length === 0">
                        <ng-template [icon]>
                            <mat-icon class="scale-[3] text-gray-300"> search </mat-icon>
                        </ng-template>
                        <ng-template [actions]>
                            <span class="text-gray-400">
                                Keine Buchungen vorhanden
                            </span>
                        </ng-template>
                    </empty-state>
                </ng-template>
            </loading-state>
        </div>
    </crud-card>
</crud-layout>
