<div class="py-4">
    <div class="mx-auto px-4 sm:px-6 md:px-8 flex max-w-7xl">
        <h1 class="text-2xl font-semibold text-gray-900">Meine Buchungen</h1>
    </div>
    <div class="mx-auto px-4 sm:px-6 md:px-8 flex flex-col gap-16 pt-4 text-gray-700">
        <div class="flex flex-col" *ngFor="let group of groupedBookings">
            <div class="flex items-center mb-4">
                <div class="h-[2px] grow bg-gray-300 2xl:bg-inherit 2xl:bg-gradient-to-r from-transparent via-gray-300 to-gray-300"></div>
                <h2 class="text-xl font-medium mx-4 text-gray-400">{{ group.start | localeDate:dateFormat }}</h2>
                <div class="h-[2px] grow bg-gray-300 2xl:bg-inherit 2xl:bg-gradient-to-l from-transparent via-gray-300 to-gray-300"></div>
            </div>
            <div class="max-w-7xl self-center w-full flex flex-col">
                <card *ngFor="let booking of group.bookings">
                    <div class="flex">
                        <div class="grid grid-cols-[auto_1fr] grid-flow-row gap-2 items-center">
                            <mat-icon class="!h-5 !w-5 text-[1.25rem]">schedule</mat-icon>
                            <div>{{ booking.start | localeDateTime:dateTimeFormat }} - {{ booking.end | localeDateTime:dateTimeFormat }}</div>
                            <mat-icon class="!h-5 !w-5 text-[1.25rem]">location_city</mat-icon>
                            <div>{{ booking.site.name }}</div>
                            <mat-icon class="!h-5 !w-5 text-[1.25rem]">account_tree</mat-icon>
                            <div>{{ booking.floor.name }}</div>
                        </div>
                        <div class="flex ml-auto">
                            TODO: MAP + Booked Entities <br>
                            TODO: Delete Button
                        </div>
                    </div>
                </card>
            </div>
        </div>
    </div>
</div>
