<div class="py-4">
    <div class="mx-auto px-4 sm:px-6 xl:px-8 flex max-w-7xl">
        <h1 class="text-2xl font-semibold text-gray-900">Meine Buchungen</h1>
    </div>
    <div class="mx-auto px-4 sm:px-6 xl:px-8 flex flex-col gap-16 pt-4 text-gray-700">
        <div class="flex flex-col" *ngFor="let group of groupedBookings">
            <div class="flex items-center mb-4">
                <div class="h-[2px] grow bg-gray-300 2xl:bg-inherit 2xl:bg-gradient-to-r from-transparent via-gray-300 to-gray-300"></div>
                <h2 class="text-xl font-medium mx-4 text-gray-400">{{ group.start | localeDate:dateFormat }}</h2>
                <div class="h-[2px] grow bg-gray-300 2xl:bg-inherit 2xl:bg-gradient-to-l from-transparent via-gray-300 to-gray-300"></div>
            </div>
            <div class="max-w-7xl self-center w-full flex flex-col xl:text-xl gap-8">
                <booking-card *ngFor="let booking of group.bookings" [booking]="booking" (delete)="deleteBooking($event)"></booking-card>
            </div>
        </div>
    </div>
</div>
