<div class="h-full flex flex-col overflow-y-auto">
    <data-table [data]="floors" [columns]="columns">
        <ng-template let-item>
            <div class="flex justify-end">
                <text-button type="routerLink" [href]="getFloorEditLink(item)">
                    <ng-template>
                        <mat-icon>edit</mat-icon>
                    </ng-template>
                </text-button>
                <div class="flex justify-end">
                    <text-button type="button" color="red" class="ml-auto" (click)="onDelete(item)">
                        <ng-template>
                            <mat-icon>delete</mat-icon>
                        </ng-template>
                    </text-button>
                </div>
            </div>
        </ng-template>
    </data-table>
    <div *ngIf="floors?.length === 0" class="grow flex items-center justify-center">
        <empty-state>
            <ng-template [icon]>
                <mat-icon class="scale-[3] text-gray-400">layers_clear</mat-icon>
            </ng-template>
            <ng-template [actions]>
                <button
                    class="flex justify-center items-center text-green-500 hover:text-green-700 font-normal h-12"
                    (click)="onCreate()"
                >
                    Stockwerk hinzufügen
                </button>
            </ng-template>
        </empty-state>
    </div>
    <button
        *ngIf="floors?.length !== 0"
        class="flex justify-center items-center text-green-500 hover:text-green-700 hover:bg-black/5 font-light text-sm h-12"
        (click)="onCreate()"
    >
        Stockwerk hinzufügen
    </button>
</div>
