<crud-layout [title]="title" [wFull]="true">
    <crud-card (save)="onSubmit()" [saveText]="'speichern'">
        <loading-state [loading]="form === undefined">
            <ng-template>
                <mat-form-field *ngIf="form !== undefined" appearance="fill" class="w-full">
                    <mat-label>Stockwerk name</mat-label>
                    <input
                        type="text"
                        matInput
                        [(ngModel)]="form.data.name"
                        placeholder="1. OG"
                        required
                        [disabled]="form.processing"
                    />
                    <mat-hint>Der Name des Stockwerkes</mat-hint>
                </mat-form-field>
                <h4 class="text-base font-medium mt-4">Grundriss</h4>
                <file-upload
                    placeholder="Bild hochladen..."
                    [mimeTypes]="['image/jpeg', 'image/png']"
                    [initialFiles]="initialFiles"
                    (filesUpdated)="onFilesUploaded($event)"
                ></file-upload>
            </ng-template>
        </loading-state>
    </crud-card>
    <card>
        <h2 class="text-lg font-medium">Buchbare Objekte</h2>
        <div class="flex gap-4">
            <entity-map
                class="h-[40rem] block bg-gray-100 rounded-md p-2 grow"
                [entities]="bookableEntities.data ?? []"
                [backgroundImage]="floor.data?.planFile"
                [selectedEntity]="editingBookableEntity"
                (selectedEntityChange)="selectedEntity = $event"
                (entityDrag)="onDragBookableEntity($event)"
            >
            </entity-map>
            <create-or-update-bookable-entity
                class="w-80 border-x-2 border-gray-300 p-2"
                *ngIf="editingBookableEntity !== undefined"
                [(name)]="editingBookableEntity.name"
                [posX]="editingBookableEntity.posX"
                [posY]="editingBookableEntity.posY"
                (submitBookableEntity)="onSubmitBookableEntity()"
                (cancel)="onCancelEditingBookableEntity()"
                (posXChange)="onSelectedEntityPosXUpdate($event)"
                (posYChange)="onSelectedEntityPosYUpdate($event)"
            >
            </create-or-update-bookable-entity>
            <loading-state [loading]="bookableEntities.loading()">
                <ng-template>
                    <bookable-entity-list
                        class="mt-4 w-60 block"
                        [bookableEntities]="bookableEntities.data"
                        [(selectedBookableEntity)]="selectedEntity"
                        (create)="onCreateBookableEntity()"
                    >
                    </bookable-entity-list>
                </ng-template>
            </loading-state>
        </div>
    </card>
</crud-layout>
