<crud-layout [title]="'Büros'" [createRoute]="'create'" []>
    <crud-card>
        <loading-state [loading]="officeBuildings === undefined">
            <ng-template>
                <data-table [data]="officeBuildings" [columns]="dataColumns">
                    <ng-template let-item>
                        <div class="flex justify-end">
                            <a
                                routerLink="{{ getEditRoute(item) }}"
                                class="rounded-full hover:bg-black/5 w-8 h-8 flex justify-center items-center text-primary-500"
                            >
                                <mat-icon>edit</mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </data-table>
            </ng-template>
        </loading-state>
    </crud-card>
</crud-layout>
