<div class="container">
    <mat-toolbar color="primary">
        <button *ngIf="appService.isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: 3px;">
            <mat-icon>menu</mat-icon>
        </button>
        <span>re:Place</span>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/bookings">
            <mat-icon>library_books</mat-icon>
            <span>Buchungen</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Admin</span>
        </button>
    </mat-menu>

    
    <router-outlet></router-outlet>
</div>
