<card [grayFooter]="true">
    <ng-template *ngIf="header !== undefined">
        <ng-container [ngTemplateOutlet]="header.templateRef"></ng-container>
    </ng-template>
    <form [attr.id]="formId" (submit)="submit($event)">
        <div>
            <ng-content></ng-content>
        </div>
    </form>
    <ng-template *ngIf="saveText !== undefined || deletable" [footer]>
        <div class="flex justify-end">
            <button [attr.form]="formId" *ngIf="saveText !== undefined" mat-raised-button color="primary" type="submit">
                {{ saveText }}
            </button>
            <button *ngIf="deletable" mat-raised-button color="error" type="button" (click)="emitDelete()">Löschen</button>
        </div>
    </ng-template>
</card>
