<div class="rounded-md shadow-md border-l-[5px]" [style]="leftBorderStyle">
    <div class="p-1 flex flex-col items-start">
        <div class="text-sm text-gray-700 overflow-hidden min-w-0 text-ellipsis">
            {{ booking.user?.firstname }} {{ booking.user?.lastname }}
        </div>
        <div class="text-xs font-light text-gray-500 overflow-hidden min-w-0 text-ellipsis">
            {{ booking.start | localeDateTime:dateTimeFormat }}
            -
            {{ booking.end | localeDateTime:dateTimeFormat }}
        </div>
        <div class="text-xs font-light text-gray-500 mt-1 overflow-hidden min-w-0 text-ellipsis whitespace-nowrap max-w-full">
            {{ bookedEntitiesList | localeList }}
        </div>
    </div>
    <div class="h-1 bg-primary-500 rounded-br-md" [style]="bottomBorderStyle"></div>
</div>
