<ng-container [ngSwitch]="type">
    <button *ngSwitchCase="'button'" class="rounded-full w-8 h-8 flex justify-center items-center" [ngClass]="colorStyle" type="button">
        <ng-container *ngIf="content !== undefined" [ngTemplateOutlet]="content"></ng-container>
    </button>
    <a
        *ngSwitchCase="'a'"
        [attr.href]="href"
        [attr.target]="target"
        class="rounded-full w-8 h-8 flex justify-center items-center"
        [ngClass]="colorStyle"
    >
        <ng-container *ngIf="content !== undefined" [ngTemplateOutlet]="content"></ng-container>
    </a>
    <a
        *ngSwitchCase="'routerLink'"
        [routerLink]="href"
        class="rounded-full w-8 h-8 flex justify-center items-center"
        [ngClass]="colorStyle"
    >
        <ng-container *ngIf="content !== undefined" [ngTemplateOutlet]="content"></ng-container>
    </a>
    <button
        *ngSwitchDefault
        class="rounded-full w-8 h-8 flex justify-center items-center"
        [ngClass]="colorStyle"
        [attr.type]="type"
    >
        <ng-container *ngIf="content !== undefined" [ngTemplateOutlet]="content"></ng-container>
    </button>
</ng-container>
