<form class="flex flex-col" (submit)="onSubmit($event)">
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Stockwerk name</mat-label>
        <input type="text" matInput [(ngModel)]="floorToEdit.name" placeholder="1. OG" name="floor_name" />
        <mat-hint>Name des Stockwerkes</mat-hint>
    </mat-form-field>

    <div class="flex justify-end mt-8">
        <button mat-raised-button color="primary" type="submit">
            {{ saveText }}
        </button>
    </div>
</form>
